{% extends "split_bill/index.html" %}

{% block title %}Detail{% endblock %}

{% block content %}
<strong>For your`e bill</strong>
{{ bill.full_bill }}
<strong>for splitting between</strong>
{{ bill.split_num }}
<strong>friends input names</strong>
<!--{% for friend in bill.split_num %}-->
<!--<form action="." method="post">-->
<!--                            {% csrf_token %}-->
<!--                            {{ person_form.as_p }}-->

<!--                        <input type="submit" value="Input name">-->
<!--{% endfor %}-->
<p align="bottom" style="text-align: right"><a href="{% url 'index' %}">Home</a></p>
{% endblock %}
