{% load bootstrap4 %}
{% load static %}
{% bootstrap_css%}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Splitbillapp {% block title %}{% endblock %}</title>
    </head>
    <body>
        <h2>{{ header }}</h2>
        <p>{{ message }}</p>
        <div class="container-flex mb-4">
            <div class="row mb-1">
                <div class="col-sm-9 pr-sm-1 pl-sm-0">
                    <div class="p-3 border border-primary rounded" >
                        {% block content %}
                        <form action="." method="post">
                            {% csrf_token %}
                        {{ form.as_p }}

                        <input type="submit" value="Input bill">
                        </form>
                        {% endblock %}
                    </div>
                </div>
                <div class="col-sm-3 border border-primary rounded">
                    {% block menu %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>