{% extends "split_bill/index.html" %}

{% block title %}Person Bill Detail{% endblock %}

{% block content %}
<strong>For your`e bill</strong>
{{ person.bill.full_bill }}
<strong>result splitting between</strong>
{{ person.bill.split_num }}
<strong>friends names is</strong>
{{ person.person_name }}{{ person.id }}{{person.bill.id}}
{% for char in person.person_name %}
{{ char }}
{% endfor %}
<p align="bottom" style="text-align: left"><a href="{% url 'split_bill:persons_list' person.bill.id %}">Persons List</a></p>
<p align="bottom" style="text-align: right"><a href="{% url 'split_bill:index' %}">Home</a></p>
{% endblock %}
